@page
@model CreateJobAdModel
@inject SyncfusionOptionsService SyncfusionOptions

@{
    ViewData["Title"] = "Create Job Ad";
}

<div class="row">
    <div class="col-md-12 px-0">
        <form method="post">
            <div class="form-group col-md-4">
                <label asp-for="Dto.Name"></label>
                <input asp-for="Dto.Name" autocomplete="off" class="form-control" placeholder=@Constants.formLastVornameNachname />
                <span class="text-danger" asp-validation-for="Dto.Name"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.Position"></label>
                <input asp-for="Dto.Position" autocomplete="off" class="form-control" placeholder=@Constants.formJobAdName />
                <span class="text-danger" asp-validation-for="Dto.Position"></span>
            </div>
            @*<div class="form-group col-md-4">
        <label asp-for="Input.Description"></label>
        <input asp-for="Input.Description" autocomplete="off" class="form-control" />
        </div>*@
            <div class="form-group col-md-8">
                <label asp-for="Dto.Description"></label>
                <!-- RTE Component -->
                <ejs-richtexteditor id="rteCreate"
                                    editorMode="HTML"
                                    enableTabKey="true"
                                    ejs-for="Dto.Description"
                                    placeholder=@Constants.rtePlaceholder
                                    showCharCount="true"
                                    maxLength="2000"
                                    beforeSanitizeHtml="beforeSanitizeHtml"
                                    enableResize="true">
                    <!-- Cleanup copied content from the web -->
                    <e-richtexteditor-pastecleanupsettings plainText="true" />
                    <!-- Toolbar setting - The lists with the RTE options are no longer in the code behind, but can now be injected directly into the view. -->
                    <e-richtexteditor-toolbarsettings items=@SyncfusionOptions.GetRTEOptionsListMinimal();
                                                      enable="true">
                    </e-richtexteditor-toolbarsettings>
                    <e-content-template>

                    </e-content-template>
                </ejs-richtexteditor>
                <!-- RTE Component -->
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.MainSkills"></label>
                <input asp-for="Dto.MainSkills" autocomplete="off" class="form-control" placeholder=@Constants.formMainSkills />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.Region"></label>
                <input asp-for="Dto.Region" autocomplete="off" class="form-control" placeholder=@Constants.formRegion />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Dto.StartDate"></label>
                <input asp-for="Dto.StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

            <!-- Buttons -->
            <div class="col-md-4">
                <button type="submit" class="btn btn-secondary">@Constants.BtnSave</button>
                <button type="submit" class="btn btn-secondary" asp-page-handler="CancelButton" formnovalidate>@Constants.BtnCancel</button>
            </div>
        </form>
    </div>
</div>

<!-- Data Annotations (code behind) -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
/* Syncfusion RTE - Min and Max Resize Value */
.e-richtexteditor {
    min-width: 650px;
    max-width: 650px;
    min-height: 200px;
    max-height: 350px;
}
/* -------------------------------------------------- */
</style>