@page "{Index?}/{handler?}"
@model IndexModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Home page";

    List<object> toolbarItems = new List<object>();
    List<object> commands = new List<object>();

    toolbarItems.Add("Search");

    // RBAC here
    if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEditor))
    {
        toolbarItems.Add(new { text = "Neue Stelle anlegen", id = "addJobAd", align = "Left", prefixIcon = Constants.IconPlus });
        commands.Add(new { type = "Delete", buttonOption = new { iconCss = Constants.IconDelete, cssClass = "e-flat", id = "deleteButton" } });
        commands.Add(new { type = "EditJobAd", buttonOption = new { iconCss = Constants.IconEdit, cssClass = "e-flat", id = "editButton" } });
        commands.Add(new { type = "Duplicate", buttonOption = new { iconCss = Constants.IconCopy, cssClass = "e-flat", id = "copyButton" } });
    }
    commands.Add(new { type = "JobDetails", buttonOption = new { iconCss = Constants.IconDetails, cssClass = "e-flat", id = "DetailsButton" } });
}

<div>
    <ejs-grid id="DataGrid"
              load="onLoad"
              allowPaging="true"
              toolbar="toolbarItems"
              toolbarClick="toolbarClick"
              commandClick="commandClick"
              locale="de-DE">
        <e-data-manager url="/Index?handler=DataSource" adaptor="UrlAdaptor"></e-data-manager>
        @*<e-grid-editsettings showDeleteConfirmDialog="true" mode="Dialog" template="#dialog"></e-grid-editsettings>*@
        <e-grid-pagesettings pageSize="7"></e-grid-pagesettings>
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>

        <e-grid-columns>
            <e-grid-column field="Id" headerText="Job Id" isIdentity="true" textAlign="Left" width="auto" visible="false"></e-grid-column>
            <e-grid-column field="Name" headerText="Job Ad" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column>
            <e-grid-column field="Position" headerText="Position" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column>
            <e-grid-column field="Description" headerText="Description" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column> <!-- hideAtMedia="(min-width: 1100px)" -->
            <e-grid-column field="MainSkills" headerText="Main Skills" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column> <!-- hideAtMedia="(min-width: 700px)" -->
            <e-grid-column field="Region" headerText="Region" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column> <!-- hideAtMedia="(min-width:700px)" -->
            <e-grid-column field="StartDate" type="date" format="dd.MM.yyyy" headerText="Start Date" textAlign="Left" width="auto" clipMode="EllipsisWithTooltip"></e-grid-column> <!-- hideAtMedia="min-width:500px" -->
            <e-grid-column field="" width="190px" commands="commands"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<!-- Test button -->
@*<div>
        <ejs-button isPrimary=true id="but" onclick="modalWindow()"><e-content-template>Open Reusable Dialog</e-content-template></ejs-button>
    </div>*@

<!-- Modal window - showing here-->
<div id="PartialView"></div>


<!-- Javascript -->
<script>
    function onLoad(args) {
        this.dataSource.dataSource.headers = [{ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val() }];
    }

    //JQuery function to switch to the "create a new job ad page"
    // toolbarClick
    function toolbarClick(args) {
        if (args.item.id === 'addJobAd') {
            window.location.href = 'CreateJobAd';
        }
    }

    // commandClick
    function commandClick(args) {
        // selecting DataGrid
        var grid = document.getElementById('DataGrid').ej2_instances[0];
        // get commandColumn type
        let commandType = getCommandColumnType(args);

        // Case distinction - which commandIcon was clicked
        if (commandType == 'JobDetails') {
            window.location.href = `${commandType}?id=` + args.rowData.Id;
        }
        else if (commandType == 'EditJobAd') {
            window.location.href = `${commandType}/` + args.rowData.Id;
        }
        else if (commandType == 'Delete') {
            // Sending request to post handler named OnPostDelete in the code behind
            // after successfully handle OnPost handler the page will be refreshed -> DataGrid
            // function located in wwwroot.js
            syncfusionSendToPostHandler(grid, args, commandType);
        }
        else if (commandType == 'Duplicate') {
            // Sending request to post handler named OnPostDuplicate in the code behind
            // after successfully handle OnPost handler the page will be refreshed -> DataGrid
            // function located in wwwroot.js
            //modalWindowDelete();
            syncfusionSendToPostHandler(grid, args, commandType);
        }
    }
</script>