@page
@model ModalViewModel

@{
    Layout = null;

    ViewData["Title"] = "Partial Page - Modal";

    // Modal buttons
    var btnConfirmation = new Button() { Content = @Constants.BtnDelete, CssClass = "e-flat" };
    var btnCancel = new Button() { IsPrimary = true, Content = Constants.BtnCancel, CssClass = "e-flat" };
}

<div id="container" style="height:100px;">
    <ejs-dialog id="dialog" header="Löschen bestätigen" content=@Constants.TxtDeleteConfirmation visible="true" width="550px" showCloseIcon="true">
        <e-dialog-animationsettings effect="Zoom" duration="400"></e-dialog-animationsettings>
        <e-dialog-buttons>
            <e-dialog-dialogbutton id="btnConfirm" buttonModel="@btnConfirmation" click="DeleteConfirmation"></e-dialog-dialogbutton>
            <e-dialog-dialogbutton id="btnDecline" buttonModel="@btnCancel" click="btnCancel"></e-dialog-dialogbutton>
        </e-dialog-buttons>
    </ejs-dialog>
</div>

<script>
    function DeleteConfirmation() {

    }

    function btnCancel() {
        let dialogObj = document.getElementById('dialog').ej2_instances[0];
        dialogObj.hide();
    }
</script>

<ejs-scripts></ejs-scripts>