/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Own changes - defining Company Colors */
:root {
    --companyColorPurple: #753bbd;
    --companyColorGrayOne: #595959;
    --companyColorGrayTwo: #737373;
    --companyColorGrayThree: #888888;
}
/* -------------------------------------------------- */

/* Company logo adjustments */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* -------------------------------------------------- */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*.e-link .e-numericitem, .e-spacing .e-currentitem .e-active {
    background-color: #753BBD;
}*/

.e-link, .e-numericitem, .e-spacing, .e-currentitem, .e-active {
    background: var(--companyPurple) !important;
    color: #fff;
    opacity: 1;
}

/* Logout Infotext */
.alert-custom {
    background-color: var(--companyColorGrayOne);
    color: #fff;
}
/* -------------------------------------------------- */

/* Form Control Focus
-------------------------------------------------- */
.form-control:focus {
    background-color: #fff;
    border-color: var(--companyColorPurple) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(24, 35, 229, 0.2);
}

/* Syncfusion Dialog Box - Area */
/* Box Shadow Try */
.e-dialog {
    background-color: #fff;
    box-shadow: 0 11px 15px -7px rgb(117 59 189 / 20%), 0 24px 38px 3px rgb(117 59 189 / 14%), 0 9px 46px 8px rgb(117 59 189 / 12%);
}

/* Dialog Box - background gray */
.e-dlg-overlay {
    background-color: slategray;
    opacity: 0.6;
}

/* customize the dialog header */
.e-dialog .e-dlg-header {
    color: red;
    font-size: 20px;
    font-weight: normal;
}
/* -------------------------------------------------- */

/* JobAd Detail Page */
.jobad {
    border: 1px solid lightgrey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 16px !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Kontaktformular */
.customForm {
    padding-top: 1rem;
}
.customForm::after {
    margin-bottom: 200px;
}
/* Abstand button bewerben zur DSGVO - Checkbox */
.containerDsgvo {
    margin-bottom: 2rem;
}
/* Kontaktformular */
.dsgvo {
    padding-left: .2rem;
}
/* -------------------------------------------------- */

/* Change mouse cursor when hovering over Syncfusion Icons (Commands in data grid)
-------------------------------------------------- */
.e-unboundcelldiv{
    cursor: pointer;
}
/* StellenId on JobAdDetails page
-------------------------------------------------- */
.stellenId{
    font-size: 0.95rem;
    letter-spacing: 0.15em;
    font-weight: 100;
    margin-left: 10px;
}

.e-lib.e-btn.e-control.e-flat.e-icon-btn span {
    color: var(--companyColorGrayOne);
}

/* Syncfusion icon - change color by hovering to companyPurple */
.e-lib.e-btn.e-control.e-flat.e-icon-btn:hover span {
    transition: all 0.25s ease;
    color: var(--companyColorPurple);
}
/* -------------------------------------------------- */