/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*#region CompanyColors*/
/* Own changes - defining Company Colors */
:root {
    --companyColorPurple: #753bbd;
    --companyColorGrayOne: #595959;
    --companyColorGrayTwo: #737373;
    --companyColorGrayThree: #888888;

    /* Animation settings - Command icons Syncfusion */
    --numberOne: -10px;
    --numberTwo: -4px;
}
/* -------------------------------------------------- */
/*#endregion CompanyColors*/

/*#region CompanyLogo*/
/* Company logo adjustments */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* -------------------------------------------------- */

/* Company logo
-------------------------------------------------- */
a.navbar-brand.logo > img {
    max-height: 40px !important;
    width: auto;
}
/* -------------------------------------------------- */
/*#endregion CompanyLogo*/

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*.e-link .e-numericitem, .e-spacing .e-currentitem .e-active {
    background-color: #753BBD;
}*/

/*.e-link, .e-numericitem, .e-spacing, .e-currentitem, .e-active {
    background: var(--companyPurple) !important;
    color: #fff;
    opacity: 1;
}*/

/* Logout Infotext */
.alert-custom {
    background-color: var(--companyColorGrayOne);
    color: #fff;
}
/* -------------------------------------------------- */

/*#region Forms*/

/* Form Control Focus
-------------------------------------------------- */
.form-control:focus {
    background-color: #fff;
    border-color: var(--companyColorPurple) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(24, 35, 229, 0.2);
}

/* Syncfusion Dialog Box - Area */
/* Box Shadow Try */
.e-dialog {
    background-color: #fff;
    box-shadow: 0 11px 15px -7px rgb(117 59 189 / 20%), 0 24px 38px 3px rgb(117 59 189 / 14%), 0 9px 46px 8px rgb(117 59 189 / 12%);
}

/* Dialog Box - background gray */
.e-dlg-overlay {
    background-color: slategray;
    opacity: 0.6;
}

/* customize the dialog header */
.e-dialog .e-dlg-header {
    color: red;
    font-size: 20px;
    font-weight: normal;
}
/* -------------------------------------------------- */
/*#endregion Form*/

/*#region JobAd Page*/
/* JobAd Detail Page */
.jobad {
    border: 1px solid lightgrey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 16px !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Kontaktformular */
.customForm {
    padding-top: 1rem;
}
.customForm::after {
    margin-bottom: 200px;
}
/* Abstand button bewerben zur DSGVO - Checkbox */
.containerDsgvo {
    margin-bottom: 2rem;
}
/* Kontaktformular */
.dsgvo {
    padding-left: .2rem;
}
/* -------------------------------------------------- */

/* StellenId on JobAdDetails page
-------------------------------------------------- */
.stellenId{
    font-size: 0.95rem;
    letter-spacing: 0.15em;
    font-weight: 100;
    margin-left: 10px;
}

.e-lib.e-btn.e-control.e-flat.e-icon-btn span {
    color: var(--companyColorGrayOne);
}

/* Syncfusion icon - change color by hovering to companyPurple */
/*.e-lib.e-btn.e-control.e-flat.e-icon-btn:hover span {
    transition: all 0.25s ease;
    color: var(--companyColorPurple);
}*/
/* -------------------------------------------------- */
/*#endregion JobAd Page*/

/*#region Syncfusion*/
/* Syncfusion - Data grid - Pager numeric area
-------------------------------------------------- */

/*https://help.syncfusion.com/aspnet-core/pager/customization*/

.e-numericcontainer .e-currentitem {
    background-color: var(--companyColorPurple);
    /*opacity: 0.5;*/
}

.e-numericcontainer .e-currentitem:hover {
    background-color: var(--companyColorPurple);
    /*opacity: 0.5;*/
}

.e-numericcontainer .e-link.e-numericitem.e-spacing.e-pager-default:hover {
    background-color: var(--companyColorPurple);
    /*opacity: 0.5;*/
    color: var(--companyColorPurple);
    font-weight: 900;
}
/* -------------------------------------------------- */

/* Change mouse cursor when hovering over Syncfusion Icons (Commands in data grid)
-------------------------------------------------- */
.e-unboundcelldiv {
    cursor: pointer;
}

/* DataGrid change background on hover rows
-------------------------------------------------- */
.e-grid tr.e-row:hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: rgba(117, 59, 189, 0.1) !important;
    color: black;
}
/*#endregion Syncfusion*/

/*#region Syncfusion Icons Animation*/
/*
-------------------------------------------------- */
/*@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(var(--numberOne));
        -ms-transform: translateY(var(--numberOne));
        transform: translateY(var(--numberOne))
    }

    60% {
        -webkit-transform: translateY(var(--numberTwo));
        -ms-transform: translateY(var(--numberTwo));
        transform: translateY(var(--numberTwo))
    }
}*/

/*[data-uid^="gridcommand"]*/
/*.e-lib.e-btn.e-control.e-flat.e-icon-btn {*/
    /*top: 75%;
    left: 75%;*/
    /*animation-delay: 50ms;
    -webkit-animation-delay: 50ms;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;*/
    /*color: white;*/
/*}*/

/* DataGrid button click effect
-------------------------------------------------- */
.e-lib.e-btn.e-control.e-flat.e-icon-btn:hover span {
    color: var(--companyColorPurple);
    /*cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;*/
}

/*.e-lib.e-btn.e-control.e-flat.e-icon-btn:active span {*/
.e-custom:active span {
/*.e-btn-icon.fas.fa-file-contract:active {*/
    transform: scale(0.8);
    /* Scaling button to 0.98 to its original size */
    /*box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);*/
    /* Lowering the shadow */
}
/* -------------------------------------------------- */
/*#endregion Syncfusion Icons Animation*/
