@page
@model _404Model
@{
    ViewData["Title"] = "404 - Page not found";
}

<h1>@ViewData["Title"]</h1>
@*<p>No such page exists at this location.</p>*@
<div class="text-center">
    <img asp-append-version="true" src="img/404.svg" class="w-75" />
</div>